* {
  font-family: roboto, sans-serif;
}

body, .third, header, li, .content, .second, .left, .right, .image-row, .quote-box, .button-box, .sign-up-box, .quote-box, .image-row, .content {
  display: flex;
}

body, .left, .second, .quote-box {
  flex-direction: column;
}

body, ul {
  margin: 0;
  padding: 0;
}

header, .first, footer {
  background-color: #1F2937;
}

.logo, h1, footer {
  color: #F9FaF8;
}

.logo {
  font-size: 24px;
}

li {
  list-style: none;
  gap: 16px;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-weight: 800;
}

h1 {
  font-size: 48px;
}

.first p, a, .fourth {
  font-size: 18px;
  color: #E5E7EB;
}

button, .fourth {
  background-color: #3883F6;
}

h2, .quote {
  color: #1F2937;
}

h2 {
  font-size: 36px;
}

.image-row img {
  border: 5px solid #3883F6;
}

.image-row img, .sign-up-box {
  border-radius: 10px;
}

.third {
  background-color: #E5E7EB;
}

.third, header, li, .content, .second, .right, .button-box {
  justify-content: center;
}

.quote {
  font-style: italic;
  font-size: 36px;
}

footer, .image {
  text-align: center;
}

button {
  border-radius: 7px;
  border: 2px solid white;
  font-size: 16px;
  color: white;
  padding: 4px 16px;
}

header {
  padding: 8px 96px;
}

header, .image-row {
  justify-content: space-between;
}

.left, .right {
  width: 50%
}

header, .right, .second, .button-box {
  align-items: center;
}

.first button {
  align-self: flex-start;
  border: 0;
}

.image-row {
  width: 60%;
}

.image {
  width: min-content;
}

.quote-box {
  width: max-content;
}

.author {
  align-self: flex-end;
  font-size: 20px;
  font-weight: bold;
}

.fourth {
  background-color: white;
}

.sign-up-box {
  background-color: #3882F6;
}

.text {
  width: 60%;
}

.button-box {
  width: 40%;
}

.sign-up-box, .quote-box, .image-row, .content {
  padding: 24px 48px;
  margin: 24px 96px;
}

.content {
  padding: 0;
}